[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=atpVer1_0
Exec=/opt/atpVer1_0/bin/atpVer1_0
Icon=atpVer1_064
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
